<div class="container-fluid">
    <h1 style="text-align: center;">Dictionary App</h1>
    <div class="col-xs-12 col-sm-6">
      <h2>Add New Words</h2>
      <div class="form-group">
        <label for="newWord">Enter a word please</label>
        <input #newWordInput  type="text" class="form-control" id="newWord" placeholder="Word"
               (keyup.enter)="addWord(newWordInput.value); newWordInput.value=''">
      </div>
      <button (click)="addWord(newWordInput.value)" class="btn btn-default">Add Word</button>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h2>View Saved Words</h2>
      <ul><li *ngFor="let word of Dictionary">Word: {{ word.getWord() }} Length {{ word.getLength() }}</li></ul>
    </div>
</div>
